.todoItem {
    display: flex;
}

.todoCheckbox {
    width: 40px;
}

.todoContent {
    flex: 1;
    border-bottom: 1px dotted #ccc;
    margin-right: 10px;
}

.todoDueDate {
    min-width: 200px;
}

.todoItem button {
    margin: 0 6px;
}
